.cont {
	padding: 20px;
}

audio {
	width:80%;
	padding-top: 40px;
}

table {
	font-size: 12px;
}

table:hover {
	cursor: pointer;
}  

.media-icon {
	width: 25px;
}

.row {
	padding-top: 50px;
	margin: 0 auto;
}

.column {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}