.container {
	padding-left: 5%;
}

audio {
	width:100%;
	padding:40px;
}

table {
	font-size: 13px;
}

table:hover {
	cursor: pointer;
}  

#filelist {
	overflow:scroll;
	overflow-x: hidden;
	overflow-y: hidden;
}

#directory, #path {
	display:inline;
}

#fileupload {
	display: none;
}