.cont {
	padding: 20px;
}

audio {
	width:80%;
	padding-top: 40px;
}

#icon {
	width: 25px;
}

.lists {
	padding-top: 50px;
	margin: 0 auto;
}

.list {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

#file {
    position:relative;
    margin: 8px;
}

#file:hover {
	cursor: pointer;
}

