<div>
	<ol class="breadcrumb">
		<li ng-repeat="crumb in breadcrumb" ng-click="gotoCrumb($index, crumb.AbsPath)">
			<a href=# >{{crumb.Name}}</a>
		</li>
	</ol>
	<div class="container-fluid">
		<div id="file" 
			class="row" 
			ng-repeat="file in files" 
			ng-click="play(file)"\
			tooltip-placement="bottom"
			tooltip={{file.Album}}{{file.Artist}}{{file.ID3Name}}{{file.Length}}>
				<div class="col-md-8">
					<span id="icon" class="glyphicon glyphicon-play" ng-show=file.isPlaying></span>
					{{file.Name}}
				</div>
				<div class="col-md-2">{{file.Size | number : 2}} MB</div>
		</div>
	</div>
	<ol class="breadcrumb">
		<li ng-repeat="crumb in breadcrumb" ng-click="gotoCrumb($index, crumb.AbsPath)">
			<a href=# >{{crumb.Name}}</a>
		</li>
	</ol>
</div>